.navbar {
    height: 115px;
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: transparent !important;
}
.navbar .navbar-nav > li > a:hover {
    background-color: #949391;
    transform: scale(1.12);
    text-decoration-line: underline;
    border-radius: 25px;
}